.resume-form {
  margin: 0 auto;
  margin-top: 70px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  max-width: 35rem;
}

.summary-button {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  border: 1px solid black;
  border-radius: 15px;
  background-color: var(--clr-sec-500);
  box-shadow: 3px 4px 23px -2px rgba(0, 0, 0, 0.15);
  padding: 0.5em 1em;
  cursor: pointer;
}

.forward-icon {
  height: 2em;
}